* {
    margin: 0 auto;
    padding: 0;
}
.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
a {
    color:black;
    text-decoration: none;
}
.flex {
    display: flex;
}

.flex-inline {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justifyContent-center {
    justify-content: center;
}

.alignItems-center {
    align-items: center;
}
.justifyContent-space-around {
    justify-content: space-around;
}
.justifyContent-space-between{
    justify-content: space-between;
}
.alignItems-start{
    align-items: flex-start;
}