.catalog-container {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 1000px; }

.catalog-container-adm {
  min-width: 1200px;
  max-width: 1000px; }

.catalog-menu {
  list-style: none;
  margin-top: 5px;
  text-align: center; }

.product-item-first-catalog {
  background-image: url("../product/1.jpg");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product-item-second-catalog {
  background-image: url("../product/2.png");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product-item-third-catalog {
  background-image: url("../product/3.jpg");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product-item-fourth-catalog {
  background-image: url("../product/4.jpg");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.product-item-fifth-catalog {
  background-image: url("../product/5.png");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product-item-sixth-catalog {
  background-image: url("../product/6.png");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.product-item-seventh-catalog {
  background-image: url("../product/7.jpg");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product-item-eight-catalog {
  background-image: url("../product/8.jpg");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product-item-nine-catalog {
  background-image: url("../product/9.jpg");
  min-height: 279px;
  min-width: 261px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sidebar {
  width: 200px;
  height: 38px;
  border-left: 4px solid #ef5b70;
  text-align: center; }

.sidebar > img {
  height: 9px; }

.sidebar > span {
  min-width: 70px; }

.heading-text {
  /*font-family: "$font-family";*/
  color: #ef5b70;
  /* Style for "New Arriva" */
  width: 900px;
  height: 18px;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.home {
  /*width: 196px;*/
  height: 11px;
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.men {
  /*width: 196px;*/
  height: 11px;
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.new-arriva {
  /*width: 196px;*/
  height: 11px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.sidebar {
  /* Style for "Category" */
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 3px;
  padding-bottom: 5px; }

.sidebar:hover {
  color: #ef5b70; }

.form-head {
  /* Style for "Size" */
  width: 120px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.section-header {
  /* Style for "Free Deliv" */
  width: 175px;
  height: 50px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  /* Text style for "Free Deliv" */
  letter-spacing: 0.5px;
  text-align: center; }

.section-text {
  /* Style for "Worldwide" */
  width: 308px;
  height: 37px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  /* Text style for "W, orldwid" */
  letter-spacing: 0.35px; }

.section-jump {
  align-items: flex-end; }

.button {
  /* Style for "Rounded Re" */
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff; }

.subcount {
  /* Style for "Rounded Re" */
  width: 261px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff; }

.size-input {
  margin-left: 9px; }

.form-links {
  /* Style for "Size" */
  width: 28px;
  height: 10px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.form-links-container {
  /* Style for "Bohemian" */
  width: 160px;
  height: 20px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  border-right: 3px solid #7a7a7a;
  margin-bottom: 3px;
  /* Text style for "|, |, |, |" */ }

.form-links-container:nth-child(3n) {
  border: none; }

input[type=range] {
  cursor: default; }

.button-catalog {
  /* Style for "Rectangle" */
  width: 153px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  /* Style for "Name" */
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
  margin-left: 9px; }

option {
  /* Style for "Name" */
  width: 36px;
  height: 10px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

.sidebar-arrow:hover {
  transform: rotate(180deg);
  transition: rotate 1s;
  background-color: #ef5b70; }

.heading-text:hover {
  transform: scale(1, 2);
  transition: scale 10s; }

.side-menu {
  position: relative; }

.side-menu-item {
  position: absolute;
  display: none; }

.subcount:hover {
  width: 500px;
  transition: 15s; }

.brand-cart:hover {
  transform: rotateY(180deg);
  transition: rotateY 5s;
  transition-timing-function: cubic-bezier(0, 0, 1, 1); }

/*# sourceMappingURL=product.css.map */
